@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Role</h1>
<hr/>

<form method="post" asp-action="Edit" class="mt-4">'
    <input asp-for="@Model.Id" hidden />

	<div class="form-group mt-2">
		<label asp-for="@Model.Name"></label>
		<input asp-for="@Model.Name" class="form-control" />

		<div class="form-group mt-2 justify-content-center">
			<button type="submit" class="btn btn-success m-2 rounded-2">Save</button>
			<a asp-action="Index" class="btn btn-secondary m-2 rounded-2">Back To List</a>
		</div>	
	</div>
</form>

